/* Your Website Styles */

html{
	font-family: 'Ubuntu Mono', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Ubuntu Condensed', sans-serif;
	background: #492CB2;
}


h1{
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	text-transform: capitalize;
	text-decoration: none;
	letter-spacing: 0.45em;
	word-spacing: 0.046em;
	line-height: 1.4;
	text-align: center;
	background: #8D6DFF;

}

/* Navigation styling */

.menu{
	width: auto;
	height: 35px;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-align: center;
	text-shadow: 3px 2px 3px #333333;
	background-color: #B2A317;
	border-radius: 8px;
}

.menu ul{
	height: auto;
	padding: 8px 0px;
	margin: 0px;
}

.menu li{
	display: inline;
	padding: 20px;
}

.menu a{
	text-decoration: none;
	color: #00F;
	padding: 8px 8px 8px 8px;
}


.menu a:hover{
	color: yellow;
	background-color: green;
}

#home a{
	background: url("../img/home.png") no-repeat left center;
	text-align: right;
}

#resume a{
	background: url("../img/resume.png") no-repeat left center;
}

#bio a{
	background: url("../img/bio.png") no-repeat left center;
}

#links a{
	background: url("../img/links.png") no-repeat left center;
}
/*End of Navigation styling */

/* Footer styling */

.footermenu{
	width: auto;
	height: 35px;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-align: center;
	text-shadow: 3px 2px 3px #333333;
	background-color: orange;
	border-radius: 4px;
}

.footermenu ul{
	height: auto;
	padding: 8px 0px;
	margin: 0px;
}

.footermenu li{
	display: inline;
	padding: 20px;
}

.footermenu a{
	text-decoration: none;
	color: #00F;
	padding: 8px 8px 8px 8px;
}


.footermenu a:hover{
	color: yellow;
	background-color: green;
}



/* End of Footer styling*/
p#objdescription{
	webkit-box-sizing: border-box;
	margin: 15px 275px;
	padding: 10px;
	width: 465px;
	background-color: #FFEE54;
	border-radius: 10px;

}

ul#contactinfo{
	webkit-box-sizing: border-box;
	margin: 150px 275px;
	padding: 10px;
	width: 465px;
	background-color: #FFEE54;
	border-radius: 6px;

	list-style-type: none;
	padding-left: 0px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	text-transform: none;
	letter-spacing: 0.05em;
}

h2{
	font-weight: 150px;
	font-style: bold;
	font-size: 26px;
	letter-spacing: 0.1em;
	text-align: center;
	text-decoration: underline;

}

ul#experience{
	list-style-type: none;
	webkit-box-sizing: border-box;
	margin: 15px 275px;
	padding: 10px;
	width: 465px;
	background-color: #FFEE54;
	border-radius: 10px;
}

ul#education{
	list-style-type: none;
	webkit-box-sizing: border-box;
	margin: 15px 275px;
	padding: 10px;
	width: 465px;
	background-color: #FFEE54;
	border-radius: 10px;
}
ul#activities{
	list-style-type: none;
	webkit-box-sizing: border-box;
	margin: 15px 275px;
	padding: 10px;
	width: 465px;
	background-color: #FFEE54;
	border-radius: 10px;
}
ul#listofskills{
	list-style-type: none;
	webkit-box-sizing: border-box;
	margin: 15px 275px;
	padding: 10px;
	width: 465px;
	background-color: #FFEE54;
	border-radius: 10px;
}


img{
	height: 450px;
	width: 320px;
}
/* Show Grid */
.showgrid {
	/*background: url("../img/grid-bg.png") repeat-y;*/
	background-color: #7D4CFF;
}
